<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://160.250.132.143:3001" />
    <add key="VersionJsonUrl" value="http://160.250.132.143:3001/uploads/ichiteacher/version.json" />
    <add key="UpdateVersionApiUrl" value="http://160.250.132.143:3001/updateversion" />
    <add key="UpdateVersionApiToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJhMTExMTExMS0xMTExLTExMTEtMTExMS0xMTExMTExMTExMTEiLCJ1c2VyVHlwZSI6IkFETUlOIiwiZGV2aWNlSWQiOiJkZXZpY2UtMTIzNDUiLCJpYXQiOjE3NzA3NDkyMDUsImV4cCI6MTgwMjI4NTIwNX0.2CTaCQf96D_ISQI6z7kDlc43heg8TSNDnnqxFHoLIKI" />
  </appSettings>
</configuration>
