<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net48</TargetFramework>
    <PlatformTarget>x86</PlatformTarget>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <GenerateManifests>true</GenerateManifests>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <BootstrapperComponentsLocation>HomeSite</BootstrapperComponentsLocation>
    <Install>true</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsWebBootstrapper>false</IsWebBootstrapper>
    <UpdateEnabled>false</UpdateEnabled>
    <MapFileExtensions>true</MapFileExtensions>
    <SignManifests>false</SignManifests>
    <ApplicationVersion>1.0.0.0</ApplicationVersion>
    <ApplicationRevision>0</ApplicationRevision>
    <ProductName>Ichi Teacher - Win7 compatibility test</ProductName>
    <CreateWebPageOnPublish>false</CreateWebPageOnPublish>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
  </PropertyGroup>
</Project>
